/* @import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap'); */

@font-face {
    font-family: "Chelsea Market Outline";
    src: url("../fonts/Chelsea\ Market.otf");
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/Futura\ PT\ Book.otf");
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/Futura\ PT\ Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/Futura\ PT\ Demi.otf");
    font-weight: 600;
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/Futura\ PT\ Bold.otf");
    font-weight: bold;
}

body {
    margin: 0;
    background-color: #f9f9f9
}

p, h3, h4, h5, h6, li {
    margin: 0;
    font-family: 'Futura PT', Arial, Helvetica, sans-serif!important;
}

h1, h2, h3 {
    margin: 0;
    font-family: "Chelsea Market Outline", Arial, Helvetica, sans-serif;
    font-weight: 400
}

h1 {
    font-size: 4.75em;
    /* 64 */
}

h2 {
    font-size: 3.5em;
    /* 48 */
}

h3 {
    font-size: 2.5em;
    /* 36 */
}

h4 {
    font-weight: 400;
    font-size: 1.75em;
    /* 24 */
}

h5 {
    font-size: 1.25em;
    /* 18 */
}

h6 {
    font-weight: 400;
    text-transform: uppercase;
}

p, h6 {
    font-size: 1em;
}





iframe {
    height: 100vh;
    width: 100vw;
    position: 'absolute'
}

ul {
    list-style: none;
    padding: 0
}

p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

button p {
    font-size: 16px;
}

/* GLOBAL_CLASSNAME */
.align-items-center{
    align-items: center;
}
.align-items-between {
    align-items: space-between;
}
.align-items-end {
    align-items: flex-end;
}
.align-items-start{
    align-items: start;
}
.align-self-center{
    align-self: center;
}
.align-self-end{
    align-self: flex-end;
}

.flex{
    display:flex
}
.flex-column{
    flex-direction: column;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.flex-column-reverse{
    flex-direction: column-reverse;
}
.flex-grow{
    flex-grow:1
}

.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}

.absolute{
    position:absolute
}
.relative{
    position:relative
}
.fixed{
    position:fixed
}

.full-vh{
    height:100vh
}
.full-vw{
    width:100vw
}

.full-view{
    width:100vw;
    height:100vh;
}

.text-center{
    text-align: center;
}

.hide {
    display: none;
}

@media (min-width: 1024px) {   
    .container{
        width: 1200px;
    }
}

@media (max-width: 1023px) {   
    .container{
        width: 960px;
    }
}